body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-47px;
  width:857px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3064 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:76px;
  width:857px;
  height:60px;
}
#u3065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u3065 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
  display:flex;
}
#u3065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u3066 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:0px;
  width:438px;
  height:30px;
  display:flex;
}
#u3066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u3067 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:0px;
  width:286px;
  height:30px;
  display:flex;
}
#u3067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:30px;
}
#u3068 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:133px;
  height:30px;
  display:flex;
}
#u3068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:438px;
  height:30px;
}
#u3069 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:30px;
  width:438px;
  height:30px;
  display:flex;
}
#u3069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:30px;
}
#u3070 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:30px;
  width:286px;
  height:30px;
  display:flex;
}
#u3070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
